body{
    background-color: #0fcf90;
}
h1{
    color: #b9105e;
}
h1:hover{
    color: blue;
}
h2{
    color: orange;
}
li{
    color: #1E00FF;
}
p{
    background-color: #FFFF5C;
}
input{
    border: solid 3px red;
}
.hello{
    background-color: white;
}
#special{
    border: solid 2px rgb(65,105,225);
}
#special::first-letter {
    color: green;
    font-size: 100px;
}
div > p {
    font-size: 25px;
}
input[type=text]{
    background-color: gray;
}
a:visited{
    color: gray;
}
div:nth-of-type(3)  p{
    background-color: pink;
}
div:nth-of-type(3)  p:nth-of-type(2){
    border: solid 5px white;
}
div:nth-of-type(3) em{
    color: white;
    font-size: 25px;
}
input[type=checkbox]:checked{
    margin-left: 50px;
}
label{
    text-transform: uppercase;
}
